/*****--------------
COLORS
--------------****/

$amarelo: #f1c40f;
$azul: #066D87;
$branco: #ffffff;
$cinza: #4b4b4d;
$cinza-claro: #f9f9fa;
$cinza-escuro: #aaaaaa;
$cinza-escuro-relatorio: #747474;
$cinza-gelo: #fcfcfc;
$preto: #000000;
$vermelho: #D95C5C;
$verde: #5BBD72;