/*
* Screen stylesheet for "Wordpress UI" library.
*
* Author: R3C (www.r3c.com.br)
* Version: 1, 07 november 2014
*
* This stylesheet has the following ordering:
*
* 1. Elements
* 2. Classes
* 3. Ids
* 
*/

/* @import "compass/reset"; */
@import "compass/css3";
@import "colors";
@import "0-plugins/dir";
@import "1-base/dir";
@import "2-modules/dir";


/******* Esqueci a senha ********/

.ui.segment {
	-webkit-box-shadow: none;

	span {
		font-weight: bold;
	}
}

.ui.green.message {
	text-align: center;
}

.ui.celled.table td, .ui.celled.table th {

}

.ui.table thead th:first-child {
	background-color: rgba(0,0,0, .04) !important;
	border-left: 1px solid rgba(0,0,0,.1);
}

/********** Cadastro Condominios
****************/

/************ END
*************/

/*********** Cadastro Colaborador
**************/

/******************** Elements ********************/

/******************** Classes ********************/

/******************** Ids ********************/

/******************** Media Queries ********************/

/*
min-width: 320px  // smartphones, portrait iPhone, portrait 480x320 phones (Android)
min-width: 480px  // smartphones, Android phones, landscape iPhone
min-width: 600px  // portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
min-width: 801px  // tablet, landscape iPad, lo-res laptops ands desktops
min-width: 1025px // big landscape tablets, laptops, and desktops
min-width: 1281px // hi-res laptops and desktops

@media all and (max-width: 1024px) and (min-width: 801px) {
}

@media all and (max-width: 1024px) {
}
*/
