/*
* Screen stylesheet for "Wordpress UI" library.
*
* Author: R3C (www.r3c.com.br)
* Version: 1, 07 november 2014
*
* This stylesheet has the following ordering:
*
* 1. Elements
* 2. Classes
* 3. Ids
* 
*/
/* @import "compass/reset"; */
/*****--------------
COLORS
--------------****/
/*
* R3C Utils
*
* Author: R3C (www.r3c.com.br)
* Version: 1, 30 july 2013
*
* This stylesheet has the following ordering:
*
* 1. Elements
* 2. Classes
* 3. Ids
* 
*/
/******************** Elements ********************/
/* line 17, sass/0-plugins/r3c/utils.scss */
input[type="submit"], input[type="text"], textarea {
  -webkit-appearance: none;
}

/* Remove o redimensionamento da textarea */
/* line 22, sass/0-plugins/r3c/utils.scss */
textarea {
  resize: none;
}

/******************** Classes ********************/
/* line 28, sass/0-plugins/r3c/utils.scss */
.clear {
  clear: both;
}

/******************** Ids ********************/
/******************** Media Queries ********************/
/*
min-width: 320px  // smartphones, portrait iPhone, portrait 480x320 phones (Android)
min-width: 480px  // smartphones, Android phones, landscape iPhone
min-width: 600px  // portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
min-width: 801px  // tablet, landscape iPad, lo-res laptops ands desktops
min-width: 1025px // big landscape tablets, laptops, and desktops
min-width: 1281px // hi-res laptops and desktops

@media all and (max-width: 1024px) and (min-width: 801px) {
}

@media all and (max-width: 1024px) {
}
*/
/**
* Noty 2.2.2 Theme: Flat UI colors
* @author kottenator
*/
/* line 6, sass/0-plugins/noty/noty_flat_theme.scss */
.flat .noty_bar {
  border: none;
  background-color: #fff;
  padding: 12px 15px 13px;
  position: relative;
  text-align: center;
}
/* line 14, sass/0-plugins/noty/noty_flat_theme.scss */
.flat .noty_bar.noty_type_error {
  background-color: #F1D7D7;
  color: #A95252;
}
/* line 19, sass/0-plugins/noty/noty_flat_theme.scss */
.flat .noty_bar.noty_type_warning {
  background-color: #F6F3D5;
  color: #96904D;
}
/* line 24, sass/0-plugins/noty/noty_flat_theme.scss */
.flat .noty_bar.noty_type_success {
  background-color: #DEFCD5;
  color: #52A954;
}
/* line 29, sass/0-plugins/noty/noty_flat_theme.scss */
.flat .noty_bar.noty_type_information {
  background-color: #E6F4F9;
  color: #4D8796;
}

/* line 1, sass/0-plugins/multi-select/multi-select.scss */
.ms-container {
  background: transparent url("../images/multi-select/switch.png") no-repeat 50% 50%;
  width: 100%;
}

/* line 8, sass/0-plugins/multi-select/multi-select.scss */
.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

/* line 19, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-selectable, .ms-container .ms-selection {
  background: #fff;
  color: #555555;
  float: left;
  width: 45%;
}

/* line 25, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-selection {
  float: right;
}

/* line 29, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-list {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
  outline: none;
}

/* line 53, sass/0-plugins/multi-select/multi-select.scss */
.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

/* line 59, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-optgroup-container {
  width: 100%;
}

/* line 63, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

/* line 70, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px;
}

/* line 78, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

/* line 86, sass/0-plugins/multi-select/multi-select.scss */
.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text;
}

/**
 * selectize.css (v0.9.1)
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
/* line 18, sass/0-plugins/selectize/selectize.scss */
.selectize-control input {
  height: auto !important;
}

/* line 23, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}

/* line 31, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}

/* line 35, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 39, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 48, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}

/* line 58, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown-header-close:hover {
  color: #000000;
}

/* line 61, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 69, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}

/* line 72, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}

/* line 75, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}

/* line 78, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

/* line 82, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 109, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}

/* line 112, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

/* line 115, sass/0-plugins/selectize/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}

/* line 118, sass/0-plugins/selectize/selectize.scss */
.selectize-control {
  /* margin-top: 1px; */
  position: relative;
}

/* line 122, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-size: 1em;
  -webkit-font-smoothing: inherit;
}

/* line 129, sass/0-plugins/selectize/selectize.scss */
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}

/* line 135, sass/0-plugins/selectize/selectize.scss */
.selectize-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.65em 0.85em;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.3125em;
}

/* line 148, sass/0-plugins/selectize/selectize.scss */
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}

/* line 151, sass/0-plugins/selectize/selectize.scss */
.selectize-input.full {
  background-color: #ffffff;
}

/* line 154, sass/0-plugins/selectize/selectize.scss */
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

/* line 158, sass/0-plugins/selectize/selectize.scss */
.selectize-input.focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
}

/* line 167, sass/0-plugins/selectize/selectize.scss */
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 172, sass/0-plugins/selectize/selectize.scss */
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-bottom: 2px;
}

/* line 180, sass/0-plugins/selectize/selectize.scss */
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}

/* line 188, sass/0-plugins/selectize/selectize.scss */
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}

/* line 193, sass/0-plugins/selectize/selectize.scss */
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}

/* line 199, sass/0-plugins/selectize/selectize.scss */
.selectize-input > input {
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 213, sass/0-plugins/selectize/selectize.scss */
.selectize-input > input::-ms-clear {
  display: none;
}

/* line 216, sass/0-plugins/selectize/selectize.scss */
.selectize-input > input:focus {
  outline: none !important;
}

/* line 219, sass/0-plugins/selectize/selectize.scss */
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}

/* line 224, sass/0-plugins/selectize/selectize.scss */
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 234, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown {
  position: absolute;
  z-index: 50;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/* line 250, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}

/* line 254, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 260, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}

/* line 264, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

/* line 267, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default;
}

/* line 272, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}

/* line 276, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown .active.create {
  color: #495c68;
}

/* line 279, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}

/* line 282, sass/0-plugins/selectize/selectize.scss */
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

/* line 287, sass/0-plugins/selectize/selectize.scss */
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

/* line 291, sass/0-plugins/selectize/selectize.scss */
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}

/* line 295, sass/0-plugins/selectize/selectize.scss */
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}

/* line 308, sass/0-plugins/selectize/selectize.scss */
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}

/* line 313, sass/0-plugins/selectize/selectize.scss */
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}

/* line 317, sass/0-plugins/selectize/selectize.scss */
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}

/* line 320, sass/0-plugins/selectize/selectize.scss */
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}

/******************** Elements ********************/
/* line 3, sass/1-base/general.scss */
i.inverted.blue-2 {
  background: #d35400;
}

/* line 7, sass/1-base/general.scss */
label.ui.blue-2, .label.ui.blue-2 {
  background: #4aa3df;
  color: #ffffff;
}

/* line 12, sass/1-base/general.scss */
i.inverted.blue-dark {
  background: #24617a;
}

/* line 16, sass/1-base/general.scss */
label.ui.blue-dark, .label.ui.blue-dark {
  background: #24617a;
  color: #ffffff;
}

/* line 21, sass/1-base/general.scss */
i.inverted.blue-green {
  background: #16a085;
}

/* line 25, sass/1-base/general.scss */
label.ui.blue-green, .label.ui.blue-green {
  background: #16a085;
  color: #ffffff;
}

/* line 30, sass/1-base/general.scss */
i.inverted.green-2 {
  background: #1abc9c;
}

/* line 34, sass/1-base/general.scss */
label.ui.green-2, .label.ui.green-2 {
  background: #1abc9c;
  color: #ffffff;
}

/* line 39, sass/1-base/general.scss */
i.inverted.yellow {
  background: #f1c40f;
}

/* line 43, sass/1-base/general.scss */
label.ui.yellow, .label.ui.yellow {
  background: #f1c40f;
  color: #ffffff;
}

/* line 48, sass/1-base/general.scss */
i.inverted.orange-2 {
  background: #f39c12;
}

/* line 52, sass/1-base/general.scss */
label.ui.orange-2, .label.ui.orange-2 {
  background: #f39c12;
  color: #ffffff;
}

/* line 57, sass/1-base/general.scss */
i.inverted.orange-dark {
  background: #d35400;
}

/* line 61, sass/1-base/general.scss */
label.ui.orange-dark, .label.ui.orange-dark {
  background: #d35400;
  color: #ffffff;
}

/******************** Classes ********************/
/* line 68, sass/1-base/general.scss */
.button.filtrar {
  width: 100%;
}

/* line 72, sass/1-base/general.scss */
.center {
  text-align: center;
}

/* line 76, sass/1-base/general.scss */
.green-hover:hover {
  background: #5BBD72;
  color: #ffffff !important;
}

/* line 81, sass/1-base/general.scss */
.module.dimmer {
  position: fixed !important;
  z-index: 999999;
}

/* line 87, sass/1-base/general.scss */
.pagination .column {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
/* line 92, sass/1-base/general.scss */
.pagination .navigation {
  text-align: right !important;
}
/* line 96, sass/1-base/general.scss */
.pagination .pages {
  padding-top: 10px;
}

/* line 101, sass/1-base/general.scss */
.red-hover:hover {
  background: #D95C5C;
  color: #ffffff !important;
}

/* line 107, sass/1-base/general.scss */
.selectize-control.error .selectize-input {
  background-color: snow;
  border-color: #D95C5C;
}

/* line 113, sass/1-base/general.scss */
.space.bottom {
  padding-bottom: 10px;
}

/* line 118, sass/1-base/general.scss */
.ui.top.left.attached.label a {
  text-decoration: none;
}

/* line 124, sass/1-base/general.scss */
.vertical-buttons .button {
  margin-bottom: 5px;
}

/* #9a9a9a */
/* line 132, sass/1-base/general.scss */
body ::-webkit-input-placeholder, .ui.field ::-webkit-input-placeholder, .ui.form ::-webkit-input-placeholder {
  color: #9a9a9a;
}
/* line 136, sass/1-base/general.scss */
body :-moz-placeholder, .ui.field :-moz-placeholder, .ui.form :-moz-placeholder {
  /* Firefox 18- */
  color: #9a9a9a;
  opacity: 1;
}
/* line 141, sass/1-base/general.scss */
body ::-moz-placeholder, .ui.field ::-moz-placeholder, .ui.form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9a9a9a;
  opacity: 1;
}
/* line 146, sass/1-base/general.scss */
body :-ms-input-placeholder, .ui.field :-ms-input-placeholder, .ui.form :-ms-input-placeholder {
  color: #9a9a9a;
}

/******************** Ids ********************/
/******************** Media Queries ********************/
/******************** Elements ********************/
/******************** Classes ********************/
/* line 5, sass/2-modules/float-label.scss */
.ui.field {
  position: relative;
}

/* line 9, sass/2-modules/float-label.scss */
.ui.field:after {
  background: #f2f1ef;
  color: #4b4b4d;
  content: attr(data-placeholder);
  display: block;
  font-size: 11px;
  left: 10px;
  padding: 1px;
  position: absolute;
  top: -8px;
  z-index: 10;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/******************** Ids ********************/
/******************** Media Queries ********************/
/******************** Elements ********************/
/******************** Classes ********************/
/* line 5, sass/2-modules/semantic.scss */
.ui.button {
  height: auto;
}

/******************** Ids ********************/
/******************** Media Queries ********************/
/******* Esqueci a senha ********/
/* line 25, sass/style.scss */
.ui.segment {
  -webkit-box-shadow: none;
}
/* line 28, sass/style.scss */
.ui.segment span {
  font-weight: bold;
}

/* line 33, sass/style.scss */
.ui.green.message {
  text-align: center;
}

/* line 41, sass/style.scss */
.ui.table thead th:first-child {
  background-color: rgba(0, 0, 0, 0.04) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/********** Cadastro Condominios
****************/
/************ END
*************/
/*********** Cadastro Colaborador
**************/
/******************** Elements ********************/
/******************** Classes ********************/
/******************** Ids ********************/
/******************** Media Queries ********************/
/*
min-width: 320px  // smartphones, portrait iPhone, portrait 480x320 phones (Android)
min-width: 480px  // smartphones, Android phones, landscape iPhone
min-width: 600px  // portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
min-width: 801px  // tablet, landscape iPad, lo-res laptops ands desktops
min-width: 1025px // big landscape tablets, laptops, and desktops
min-width: 1281px // hi-res laptops and desktops

@media all and (max-width: 1024px) and (min-width: 801px) {
}

@media all and (max-width: 1024px) {
}
*/
