<!-- dimmer module -->
<div class="ui dimmer"></div>

<div class="module ui dimmer success">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="icon circular inverted emphasized green checkmark sign"></i>
                <span>Texto</span>
            </h2>
        </div>
    </div>
</div>

<div class="module ui dimmer error">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="icon circular inverted emphasized red remove"></i>
                <span>Texto</span>
            </h2>
        </div>
    </div>
</div>

<div class="module ui dimmer warning">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="icon circular inverted emphasized yellow warning"></i>
                <span>Texto</span>
            </h2>
        </div>
    </div>
</div>

<div class="module ui dimmer info">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="icon circular inverted emphasized blue info letter"></i>
                <span>Texto</span>
            </h2>
        </div>
    </div>
</div>

<div class="module ui dimmer sending">
    <div class="ui loader"></div>
</div>