/******************** Elements ********************/

/******************** Classes ********************/

.ui.field {
	position: relative;
}

.ui.field:after {
	background: #f2f1ef;
	color: $cinza;
	content: attr(data-placeholder);
	display: block;
	font-size: 11px;
	left: 10px;
	padding: 1px;
	position: absolute;
	top: -8px;
	z-index: 10;

	@include border-radius(10px);
}

/******************** Ids ********************/

/******************** Media Queries ********************/