/******************** Elements ********************/

i.inverted.blue-2 {
	background: #d35400;
}

label.ui.blue-2, .label.ui.blue-2 {
	background: #4aa3df;
	color: $branco;
}

i.inverted.blue-dark {
	background: #24617a;
}

label.ui.blue-dark, .label.ui.blue-dark {
	background: #24617a;
	color: $branco;
}

i.inverted.blue-green {
	background: #16a085;
}

label.ui.blue-green, .label.ui.blue-green {
	background: #16a085;
	color: $branco;
}

i.inverted.green-2 {
	background: #1abc9c;
}

label.ui.green-2, .label.ui.green-2 {
	background: #1abc9c;
	color: $branco;
}

i.inverted.yellow {
	background: $amarelo;
}

label.ui.yellow, .label.ui.yellow {
	background: $amarelo;
	color: $branco;
}

i.inverted.orange-2 {
	background: #f39c12;
}

label.ui.orange-2, .label.ui.orange-2 {
	background: #f39c12;
	color: $branco;
}

i.inverted.orange-dark {
	background: #d35400;
}

label.ui.orange-dark, .label.ui.orange-dark {
	background: #d35400;
	color: $branco;
}

/******************** Classes ********************/

.button.filtrar {
	width: 100%;
}

.center {
	text-align: center;
}

.green-hover:hover {
	background: $verde;
	color: $branco !important;
}

.module.dimmer {
	position: fixed !important;
	z-index: 999999;
}

.pagination {
	.column {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.navigation {
		text-align: right !important;
	}

	.pages {
		padding-top: 10px;
	}
}

.red-hover:hover {
	background: $vermelho;
	color: $branco !important;
}

.selectize-control.error {
	.selectize-input {
		background-color: snow;
		border-color: $vermelho;	
	}
}

.space.bottom {
	padding-bottom: 10px;
}

.ui.top.left.attached.label {
	a {
		text-decoration: none;
	}
}

.vertical-buttons {
	.button {
		margin-bottom: 5px;
	}
}

/* #9a9a9a */

body, .ui.field, .ui.form {
	::-webkit-input-placeholder {
	   color: #9a9a9a;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #9a9a9a;
	   opacity: 1;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #9a9a9a;
	   opacity: 1;
	}

	:-ms-input-placeholder {  
	   color: #9a9a9a;  
	}
}

/******************** Ids ********************/

/******************** Media Queries ********************/