/**
* Noty 2.2.2 Theme: Flat UI colors
* @author kottenator
*/
.flat {
    .noty_bar {
        border: none;
        background-color: #fff;
        padding: 12px 15px 13px;
        position: relative;
        text-align: center;
    }

    .noty_bar.noty_type_error {
        background-color: #F1D7D7;
        color: #A95252;
    }

    .noty_bar.noty_type_warning {
        background-color: #F6F3D5;
        color: #96904D;
    }

    .noty_bar.noty_type_success {
        background-color: #DEFCD5;
        color: #52A954;
    }

    .noty_bar.noty_type_information {
        background-color: #E6F4F9;
        color: #4D8796;
    }
}